In [124]:
import numpy as np   
import pandas as pd

In [125]:
states0 = pd.read_csv('states0.csv', index_col=0)
states1 = pd.read_csv('states1.csv', index_col=0)
states2 = pd.read_csv('states2.csv', index_col=0)
states3 = pd.read_csv('states3.csv', index_col=0)
states4 = pd.read_csv('states4.csv', index_col=0)
states5 = pd.read_csv('states5.csv', index_col=0)
states6 = pd.read_csv('states6.csv', index_col=0)
states7 = pd.read_csv('states7.csv', index_col=0)
states8 = pd.read_csv('states8.csv', index_col=0)
states9 = pd.read_csv('states9.csv', index_col=0)

In [126]:
display(states3)
display(states5)
display(states9)

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Iowa,3093526,5.30364520048603%,87.71968408262464%,3.2569866342648868%,0.2897934386391251%,1.699392466585662%,0.055164034021871235%,$53017.75304136253,1534595M_1558931F
1,Kansas,2892987,11.644342105263148%,75.95828947368425%,6.5678947368421%,0.7339473684210529%,2.331052631578946%,NaN,$53885.612648221344,1439862M_1453125F
2,Kentucky,4397353,3.222993688007212%,85.2307484220019%,8.272317403065832%,0.1666366095581602%,1.1298467087466182%,0.046438232642019836%,$45285.80253623189,2164208M_2233145F
3,Louisiana,4625253,4.866489361702128%,54.978546099290796%,36.32624113475175%,0.48430851063829816%,1.669060283687941%,0.039184397163120555%,$44957.99376114082,2261156M_2364097F
4,Maine,1329100,1.4319088319088318%,93.70740740740736%,1.1344729344729356%,0.7883190883190888%,0.9658119658119669%,0.01566951566951567%,$49181.97435897436,650081M_679019F
5,Maryland,5930538,8.47249820014399%,52.679049676026%,30.6777537796976%,0.20309575233981278%,5.325413966882652%,0.03628509719222463%,$78765.40072463769,2872643M_F

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Missouri,6045448,4.037247838616718%,77.508069164265%,14.122118155619594%,0.36332853025936646%,1.6244956772334296%,0.10165706051873193%,$49763.98772563177,2964003M_3081445F
1,Montana,1014699,3.2688888888888896%,86.41555555555554%,0.4292592592592591%,7.0607407407407425%,0.5703703703703705%,0.07222222222222222%,$47645.682835820895,510163M_F
2,Nebraska,1869365,9.203759398496235%,81.13947368421056%,4.956203007518794%,0.8644736842105263%,1.8590225563909788%,0.05714285714285715%,$55916.469696969696,929606M_939759F
3,Nevada,2798636,27.100883652430046%,53.23932253313698%,7.739617083946994%,1.0871870397643593%,7.095729013254786%,0.5745213549337267%,$55526.525073746314,1407735M_1390901F
4,New Hampshire,1324201,3.3219178082191796%,91.31917808219184%,1.2277397260273974%,0.14280821917808229%,2.191438356164382%,0.016095890410958904%,$68728.8595890411,653484M_670717F
5,New Jersey,8904413,18.74950049950049%,56.488761238761285%,14.387862137862117%,0.11533466533466513%,8.159990009990018%,0.031318681318681325%,$76581.08341708542,4343027M_4561386F

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Utah,2903379,13.468376068376063%,79.40683760683764%,1.0179487179487194%,1.0813675213675222%,2.196068376068376%,0.8259829059829059%,$63488.91780821918,1459229M_1444150F
1,Vermont,626604,1.6092896174863391%,93.98306010928961%,0.9808743169398909%,0.301639344262295%,1.2387978142076501%,0.03060109289617486%,$55602.96721311475,308573M_318031F
2,Virginia,8256630,8.0110164981373%,63.271048430015945%,20.17599787120807%,0.21245343267695582%,5.455242150079845%,0.06471527408195847%,$72866.01341201717,4060948M_4195682F
3,Washington,6985464,11.140968858131506%,72.03840830449816%,3.384429065743947%,1.4107266435986163%,7.022006920415224%,0.609896193771627%,$64493.76768377254,3487725M_3497739F
4,West Virginia,1851420,1.290909090909089%,92.17623966942146%,3.6628099173553723%,0.15268595041322316%,0.6824380165289253%,0.02644628099173554%,$41437.11157024794,913631M_937789F
5,Wisconsin,5742117,6.683333333333334%,79.86400862068966%,8.195186781609202%,0.9536637931034483%,2.404238505747124%,0.020833333333333332%,$53898.889208633096,2851385M_2890732F

In [127]:
states = [states0,states1,states2,states3,states4,states5,states6,states7,states8,states9]

In [128]:
us_cences=pd.concat(states, ignore_index=True)

In [129]:
us_cences.columns

Index(['State', 'TotalPop', 'Hispanic', 'White', 'Black', 'Native', 'Asian',
       'Pacific', 'Income', 'GenderPop'],
      dtype='object')

In [130]:
us_cences.dtypes

State        object
TotalPop      int64
Hispanic     object
White        object
Black        object
Native       object
Asian        object
Pacific      object
Income       object
GenderPop    object
dtype: object

In [131]:
#There are all columns are objects. These dtypes are not for making histogram.

In [132]:
us_cences.head()

,State,TotalPop,Hispanic,White,Black,Native,Asian,Pacific,Income,GenderPop
0,Alabama,4830620,3.7516156462584975%,61.878656462585%,31.25297619047618%,0.4532312925170065%,1.0502551020408146%,0.03435374149659865%,$43296.35860306644,2341093M_2489527F
1,Alaska,733375,5.909580838323351%,60.910179640718574%,2.8485029940119775%,16.39101796407186%,5.450299401197604%,1.0586826347305378%,$70354.74390243902,384160M_349215F
2,Arizona,6641928,29.565921052631502%,57.120000000000026%,3.8509868421052658%,4.35506578947368%,2.876578947368419%,0.16763157894736833%,$54207.82095490716,3299088M_3342840F
3,Arkansas,2958208,6.215474452554738%,71.13781021897813%,18.968759124087573%,0.5229197080291965%,1.1423357664233578%,0.14686131386861315%,$41935.63396778917,1451913M_1506295F
4,California,38421464,37.291874687968054%,40.21578881677474%,5.677396405391911%,0.40529206190713685%,13.052234148776776%,0.35141038442336353%,$67264.78230266465,19087135M_19334329F

In [133]:
#First we convert income dtype into integer.

In [134]:
us_cences[['Income']].head()

               Income
0  $43296.35860306644
1  $70354.74390243902
2  $54207.82095490716
3  $41935.63396778917
4  $67264.78230266465

Cleaning of Income

In [136]:
us_cences['Income'] = us_cences['Income'].replace({'\$': '', ',': ''}, regex=True)
us_cences['Income'] = pd.to_numeric(us_cences['Income'])
us_cences['Income'].dtype

dtype('float64')

In [137]:
#Cleaning of Male and Female Population

In [138]:
us_cences[['GenderPop']].head()

             GenderPop
0    2341093M_2489527F
1      384160M_349215F
2    3299088M_3342840F
3    1451913M_1506295F
4  19087135M_19334329F

In [139]:
new = us_cences['GenderPop'].str.split('_', n = 1, expand = True)
us_cences['MalePop']= new[0]
us_cences['FemalePop']= new[1]
us_cences.drop(columns =['GenderPop'], inplace = True)

In [140]:
us_cences.columns

Index(['State', 'TotalPop', 'Hispanic', 'White', 'Black', 'Native', 'Asian',
       'Pacific', 'Income', 'MalePop', 'FemalePop'],
      dtype='object')

In [141]:
us_cences[['State','MalePop','FemalePop']].head()

        State    MalePop  FemalePop
0     Alabama   2341093M   2489527F
1      Alaska    384160M    349215F
2     Arizona   3299088M   3342840F
3    Arkansas   1451913M   1506295F
4  California  19087135M  19334329F

In [142]:
us_cences['MalePop']= us_cences['MalePop'].replace({'\D':''}, regex=True)
us_cences['FemalePop']= us_cences['FemalePop'].replace({'\D':'', r'^\s*$': np.nan}, regex=True)
us_cences['MalePop']= pd.to_numeric(us_cences['MalePop'])
us_cences['FemalePop']= pd.to_numeric(us_cences['FemalePop'])

In [143]:
#us_cences[us_cences.isnull().any(axis=1)]